In [11]:
#le o arquivo
import pandas as pd
dataset = pd.read_csv('callcenter_marketing.csv')

In [12]:
#mostra as 5 primeiras linhas
dataset.head()

#mostra a quantidade de registros nulos por coluna (so se trata nulo em categorico, nao numerico)
#dataset.isnull().sum()

,idade,profissao,estado_civil,educacao,inadimplente,emprestimo_moradia,emprestimo_pessoal,meio_contato,mes,dia_da_semana,duracao,qtd_contatos_campanha,dias_ultimo_contato,qtd_contatos_total,campanha_anterior,indice_precos_consumidor,indice_confianca_consumidor,euribor3m,resultado
0,56,dona_casa,casado,fundamental_4a,nao,nao,nao,telefone,mai,seg,261,1,999,0,nao_existente,93.994,-36.4,4.857,nao
1,57,servicos,casado,ensino_medio,NaN,nao,nao,telefone,mai,seg,149,1,999,0,nao_existente,93.994,-36.4,4.857,nao
2,37,servicos,casado,ensino_medio,nao,sim,nao,telefone,mai,seg,226,1,999,0,nao_existente,93.994,-36.4,4.857,nao
3,40,admin.,casado,fundamental_6a,nao,nao,nao,telefone,mai,seg,151,1,999,0,nao_existente,93.994,-36.4,4.857,nao
4,56,servicos,casado,ensino_medio,nao,nao,sim,telefone,mai,seg,307,1,999,0,nao_existente,93.994,-36.4,4.857,nao

In [22]:
#separando registro numerico de categorico
dataset_numerico = dataset[['idade','duracao','qtd_contatos_campanha','dias_ultimo_contato','qtd_contatos_total','indice_precos_consumidor','indice_confianca_consumidor','euribor3m']]
dataset_categorico = dataset[['profissao','estado_civil','educacao','inadimplente','emprestimo_moradia','emprestimo_pessoal','meio_contato','mes','dia_da_semana','campanha_anterior']]

In [20]:
#dataset_numerico.head()
#dataset_categorico.head()

In [31]:
#tratar dados nulos
for col_name in dataset_categorico.columns:
    dataset_categorico[col_name].fillna('NAO INFORMADO', inplace=True)

In [32]:
#só pode ser usado o get dummies com pelo menos 3 valores distintos
#get dummies - nao se pode avaliar string (o comando transforma cada variação da string em uma coluna e atribui 0/1)
dataset_categorico_corrigido = pd.get_dummies(dataset_categorico)
dataset_categorico_corrigido.head()

,profissao_admin.,profissao_aposentado,profissao_colarinho_azul,profissao_desempregado,profissao_dona_casa,profissao_empreendedor,profissao_estudante,profissao_gerente,profissao_informal,profissao_não informado,...,mes_out,mes_set,dia_da_semana_qua,dia_da_semana_qui,dia_da_semana_seg,dia_da_semana_sex,dia_da_semana_ter,campanha_anterior_fracasso,campanha_anterior_nao_existente,campanha_anterior_sucesso
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [83]:
#juntar dados de treinamento
X = pd.concat([dataset_categorico_corrigido, dataset_numerico], axis=1)
X.head()

,profissao_admin.,profissao_aposentado,profissao_colarinho_azul,profissao_desempregado,profissao_dona_casa,profissao_empreendedor,profissao_estudante,profissao_gerente,profissao_informal,profissao_não informado,...,campanha_anterior_nao_existente,campanha_anterior_sucesso,idade,duracao,qtd_contatos_campanha,dias_ultimo_contato,qtd_contatos_total,indice_precos_consumidor,indice_confianca_consumidor,euribor3m
0,0,0,0,0,1,0,0,0,0,0,...,1,0,56,261,1,999,0,93.994,-36.4,4.857
1,0,0,0,0,0,0,0,0,0,0,...,1,0,57,149,1,999,0,93.994,-36.4,4.857
2,0,0,0,0,0,0,0,0,0,0,...,1,0,37,226,1,999,0,93.994,-36.4,4.857
3,1,0,0,0,0,0,0,0,0,0,...,1,0,40,151,1,999,0,93.994,-36.4,4.857
4,0,0,0,0,0,0,0,0,0,0,...,1,0,56,307,1,999,0,93.994,-36.4,4.857

In [85]:
def retorna_num(value):
    if value == 'sim': 
        return 1
    return 0

In [143]:
from sklearn.model_selection import train_test_split

y_string = dataset.iloc[:,[18]]
y_string['resultado'] = y_string['resultado'].apply(retorna_num)

y = y_string.iloc[:,[0]]
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.3, random_state=0)

C:\Users\usuario\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [144]:
#zera os indices
X_test.reset_index(drop=True, inplace=True)
y_test.reset_index(drop=True, inplace=True)

In [145]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression() #cria o modelo
lr.fit(X_train,y_train) #faz o fit do modelo(reta)

previsto = lr.predict(X_test) #predicao nos dados teste

In [112]:
def categorize(value):
    if value <= 0.50: 
        return 0 # not admitted
    return 1 # admitted

In [139]:
import pandas as pd
import numpy as np

serie_prevista = pd.Series((i[0] for i in previsto)) 
serie_prevista = serie_prevista.apply(categorize)

# cria nova coluna no y_test
y_test['teste'] = (y_test['resultado']).apply(categorize)


print('Erros: '+str(np.count_nonzero(serie_prevista.values!=y_test['teste'])))
print('Acertos: '+str(np.count_nonzero(serie_prevista.values==y_test['teste'])))
print('Total: '+str(serie_prevista.size))
print('O erro percentual é: '+str((np.count_nonzero(serie_prevista.values!=y_test['teste'])/serie_prevista.size)*100))
print('A acurácia é: '+str((np.count_nonzero(serie_prevista.values==y_test['teste'])/serie_prevista.size)*100))

Erros: 1179
Acertos: 11178
Total: 12357
O erro percentual é: 9.541150764748725
A acurácia é: 90.45884923525126

C:\Users\usuario\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [146]:
#regressao logistica
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(multi_class='multinomial',solver='lbfgs')
logreg.fit(X_train, y_train)
acuracia_logistica = logreg.score(X_test, y_test)
display(logreg.score(X_test, y_test))

C:\Users\usuario\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\usuario\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

0.9105770008901837